<!-- <div class="card" [style.border-color]=tramp.color>
  <div class="row">
    <div class="col-md-4 tramp-col">
      <p class="tramp-text tramp-grade" [style.color]=tramp.color> {{tramp.trampGrade}} </p>
    </div>

    <div class="col-md-4 tramp-col">
      <p class="tramp-text"> {{tramp.driverDetails.driverFirstName}} {{tramp.driverDetails.driverLastName}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverAddress.city}}, {{tramp.driverDetails.driverAddress.street}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverGender}} </p>
    </div>

    <div class="tramp-icon col-md-4 glyphicon glyphicon-user"></div>
  </div>
</div> -->

<div class="card" [style.border-color]=tramp.color>
  <div class="row">
    <div class="tramp-status col-md-2 glyphicon glyphicon-{{tramp.trampRequestIcon}}" (click)="sendTrempRequest()"></div>
    <div class="col-md-3 tramp-col">
      <p class="tramp-text tramp-grade" [style.color]=tramp.color> {{tramp.trampGrade}} </p>
      <!-- <app-tramp-grade [grade]=tramp.trampGrade [color]=tramp.color></app-tramp-grade> -->
    </div>


    <div class="col-md-4 tramp-col">
      <p class="tramp-text"> {{tramp.driverDetails.driverFirstName}} {{tramp.driverDetails.driverLastName}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverAddress.city}}, {{tramp.driverDetails.driverAddress.street}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverGender}} </p>
      <p class="tramp-text"> {{tramp.entranceAvgTime.hour}}:{{tramp.entranceAvgTime.minute}} </p>
    </div>

    <!-- <div class="tramp-icon col-md-4 glyphicon glyphicon-user" [style.color]=tramp.color></div> -->
    <div class="tramp-icon col-md-3 glyphicon glyphicon-user"></div>
  </div>
</div>