<!-- <div class="card" [style.border-color]=tramp.color>
  <div class="row">
    <div class="col-md-4 tramp-col">
      <p class="tramp-text tramp-grade" [style.color]=tramp.color> {{tramp.trampGrade}} </p>
    </div>

    <div class="col-md-4 tramp-col">
      <p class="tramp-text"> {{tramp.driverDetails.firstName}} {{tramp.driverDetails.driverLastName}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverAddress.city}}, {{tramp.driverDetails.driverAddress.street}} </p>
      <p class="tramp-text"> {{tramp.driverDetails.driverGender}} </p>
    </div>

    <div class="tramp-icon col-md-4 glyphicon glyphicon-user"></div>
  </div>
</div> -->

<div class="card-container">
  <div class="card" [class.card-flip]="isFlip" [style.border-color]=tramp.color>
    <div class="side">
      <div class="row">
        <div *ngIf="tramp.trampRequestStatus === 0" class="tramp-status col-md-3 glyphicon glyphicon-{{tramp.trampRequestIcon}}"
          (click)="sendTrampRequest()" data-toggle="tooltip" data-placement="top" title="שלח  בקשה">
          <p>שלח</p>
        </div>
        <div *ngIf="tramp.trampRequestStatus === 1" class="tramp-status col-md-3 glyphicon glyphicon-{{tramp.trampRequestIcon}}"
          (click)="cancelTrampRequest()" data-toggle="tooltip" data-placement="top" title="בטל בקשה">
          <p>נשלח</p></div>
        <div *ngIf="tramp.trampRequestStatus === 2" class="tramp-status col-md-3 glyphicon glyphicon-{{tramp.trampRequestIcon}}"
          (click)="flip()" data-toggle="tooltip" data-placement="top" title="הצג פרטים">
          <p>אושר</p></div>
        <div class="col-md-2 tramp-col">
          <p class="tramp-text tramp-grade" [style.color]=tramp.color> {{tramp.trampGrade}} </p>
          <!-- <app-tramp-grade [grade]=tramp.trampGrade [color]=tramp.color></app-tramp-grade> -->
        </div>


        <div class="col-md-4 tramp-col">
          <!-- <p class="tramp-text"> {{tramp.driverDetails.driverFirstName}} {{tramp.driverDetails.driverLastName}} </p> -->
          <p class="tramp-text"> {{tramp.driverDetails.address.city}}, {{tramp.driverDetails.address.street}} </p>
          <p class="tramp-text"> {{tramp.driverDetails.entranceAvgTime.hour}}:{{tramp.driverDetails.entranceAvgTime.minute}} </p>
          <p class="tramp-text"> {{tramp.driverDetails.gender}} </p>
        </div>

        <!-- <div class="tramp-icon col-md-4 glyphicon glyphicon-user" [style.color]=tramp.color></div> -->
        <div class="tramp-icon col-md-3 glyphicon glyphicon-user"></div>
      </div>
    </div>

    <div class="side back">
      <div class="row">
        <div class="tramp-status col-md-3 glyphicon glyphicon-share-alt" (click)="flip()" data-toggle="tooltip" data-placement="top"
          title="חזור">
          <p>חזור</p></div>
        <div class="col-md-2 tramp-col" style="font-size: 30px;">
            <div class="glyphicon glyphicon-earphone" style="color: #ea2f2f"></div>
            <div class="glyphicon glyphicon-envelope" style="color:green"></div>
        </div>


        <div class="col-md-4 tramp-col">
          <p class="tramp-text"> {{tramp.driverDetails.firstName}} {{tramp.driverDetails.lastName}} </p>
          <p class="tramp-text"> {{tramp.driverDetails.address.city}}, {{tramp.driverDetails.address.street}} </p>
          <p class="tramp-text"> {{tramp.driverDetails.gender}} </p>
        </div>

        <div class="tramp-icon col-md-3 glyphicon glyphicon-ok" style="color:green"></div>
      </div>
    </div>
  </div>
</div>