<div class="card">
  <div class="row">
    <div class="col-md-4">
      <p> {{tramp.driverDetails.driverAddress.city}} </p>
      <p> {{tramp.driverDetails.driverAddress.street}} </p>
      <p> {{tramp.trampGrade}} </p>
    </div>

    <div class="col-md-4">
      <p> {{tramp.driverDetails.driverFirstName}} </p>
      <p> {{tramp.driverDetails.driverLastName}} </p>
      <p> {{tramp.driverDetails.driverGender}} </p>
    </div>

    <div class="tramp-icon col-md-4 glyphicon glyphicon-adjust"></div>
  </div>
</div>