.card {
  width: 380px;
  height: 100px;
  border-left: 15px solid gold;
  align-items: right;
  margin-top: 5px;
  border-radius: 10px;
  background: white;
}

.tramp-text {
  margin: 0;
  padding: 0;
}

.tramp-icon {
  font-size: 54px;
  margin-top: 18px;
  padding-right: 35px;
}

.tramp-col {
  margin-top: 10px;
  font-weight: bold;
}

.tramp-grade {
        font-size: 48px;
}

.vl {
  border-left: 6px solid green;
  height: 50px;
}

.tramp-status {
  font-size: 27px;
  margin-top: 60px;
  padding-right: 10px;
  cursor: pointer;
}

.card-container {
  cursor: pointer;
  height: 100px;
  perspective: 600;
  position: relative;
  width: 380px;
  margin-top: 5px;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.card-flip {
  transform: rotateX(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
   background: white;
  /*color: #0087cc;
  line-height: 150px;
  text-align: center; */
  transform: rotateX(180deg);
}