<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="false" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login User</h5>
        </div>
        <div class="modal-body">
          <input class="form-control" [(ngModel)]="userid" id="ex1" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="getUser()" data-dismiss="modal" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
  