<div *ngIf="trampList != null" class="container tramp-list-div">
  <h3>
    רשימת טרמפים מומלצים עבורך:
  </h3>
  <span class="sort-button" style="color:black"> מיין לפי:</span>
  <a class="sort-button" (click)="sort('byRank')" [class.active-sort]="activeSortBy=='byRank'">דירוג</a>
  <a class="sort-button" (click)="sort('byName')" [class.active-sort]="activeSortBy=='byName'">שם</a>
  <a class="sort-button" (click)="sort('byStatus')" [class.active-sort]="activeSortBy=='byStatus'">סטטוס</a>
  <div style="overflow-y: auto; height: 70vh;  direction: ltr; margin-top: 5px; margin-left: 30px;">
    <app-tramp-item *ngFor="let tramp of trampList" [tramp]=tramp (sendRequest)="sendTrampRequstHandler($event)"
    (cancelRequest)="cancelTrampRequstHandler($event)"></app-tramp-item>
  </div>
</div>

<div  *ngIf="trampList == null" class="container tramp-list-div">
    <h3 style="color:gold">
      התחבר להצגת רשימת הטרמפים עבורך
    </h3>
    
  </div>