.tramp-list-div {    
    background: #535A74;
    width: 100%;
    padding: 20px;
}

.tramp-list-div > h3{    
    color: white;
}

.sort-button {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
    color:gold; 
}

.sort-button:hover {
    text-decoration: none;
}

.active-sort {    
    background: gold;
    color:black;
    padding: 2px;;
}