.card {
    width: 400px;
    height: 100px;
    border-left: 15px solid gold;
    align-items: right;
    margin-top: 5px;
    border-radius: 10px;
    background: white;
  }
  
  .tramp-request-text {
    margin: 0;
    padding: 0;
  }

  .tramp-request-button-wrapper{
    padding-right: 0;
    padding-left: 0;
  }

  .tramp-request-button {
    padding: 10px;
    margin-top: 20px;
    font-weight: normal;
  }
  
  .tramp-request-icon {
    font-size: 54px;
    margin-top: 18px;
    padding-right: 35px;
  }
  
  .tramp-request-col {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .tramp-request-grade {
          font-size: 48px;
  }